.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}
.inactive-card {
  pointer-events: none; /* cegah klik */
  filter: grayscale(80%); /* kasih efek abu-abu */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
